<div class="container sponsorForm">
	<h1>Become a Sponsor</h1>
	<form (ngSubmit)="onSubmit()" #emailForm="ngForm">
		<div class="form-group">
			<label for="firstName">First Name</label>
			<input [(ngModel)]="model.firstName" type="text" class="form-control" name="firstName" required>
		</div>

		<div class="form-group">
			<label for="lastName">Last Name</label>
			<input [(ngModel)]="model.lastName" type="text" class="form-control" name="lastName" required>
		</div>

		<div class="form-group">
			<label for="businessName">Business Name</label>
			<input [(ngModel)]="model.businessName" type="text" class="form-control" name="businessName" required>
		</div>

		<div class="form-group">
			<label for="emailAddress">Email Address</label>
			<input [(ngModel)]="model.emailAddress" type="text" class="form-control" name="emailAddress" required>
		</div>

		<div class="form-group">
			<label for="phoneNumber">Phone Number</label>
			<input [(ngModel)]="model.phoneNumber" type="text" class="form-control" name="phoneNumber" required>
		</div>

		<div class="form-group">
			<label for="comments">Comments</label>
			<input [(ngModel)]="model.comments" type="text" class="form-control" name="comments" required>
		</div>

		<button type="submit" class="btn btn-success">Submit</button>

	</form>
</div>